<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>チャット</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        size="small"
        (click)="postMessage()"
        [disabled]="!f.form.valid"
      >送信</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="primary" style="padding: 4px 8px">
    <ion-avatar slot="start" style="width: 36px; height: 36px;">
      <ion-img [src]="user?.photoDataUrl || '/assets/shapes.svg'"></ion-img>
    </ion-avatar>
    <form #f=ngForm>
      <ion-textarea
        class="ion-margin-start"
        autoGrow="true"
        rows="1"
        placeholder="メッセージを入力"
        [(ngModel)]="message"
        name="message"
        required
      ></ion-textarea>
    </form>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-padding-top">
    <ion-item lines="none"
      *ngFor="let c of chat | async; trackBy: trackByFn"
    >
      <ion-avatar slot="start">
        <ion-img [src]="c.photoDataUrl"
          *ngIf="c.uid !== uid"
        ></ion-img>
      </ion-avatar>
      <ion-label
        class="ion-padding ion-text-wrap chat-label"
        [class.ion-margin-end]="c.uid !== uid"
        [class.ion-margin-start]="c.uid !== uid"
      >
        <div class="ion-text-nowrap"><strong>{{c.displayName}}</strong></div>
        {{c.message}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
