<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/auth/signin">
      </ion-back-button>
    </ion-buttons>
    <ion-title>アカウント作成</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form #f="ngForm" class="ion-padding" (submit)="signUp()">
    <ion-list class="ion-no-margin">
      <ion-item>
        <ion-label position="floating">メールアドレス</ion-label>
        <ion-input type="email" required [(ngModel)]="login.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">パスワード</ion-label>
        <ion-input type="password" required [(ngModel)]="login.password" name="password"></ion-input>
      </ion-item>
    </ion-list>
    <div class="ion-text-center ion-padding-top">
      <ion-button type="submit" shape="round" [disabled]="!f.form.valid">新規登録</ion-button>
    </div>
  </form>
</ion-content>
